<nav class="navbar navbar-default navbar-fixed-top">
    <div class="row container-fluid">
        <div class="col-sm-4 hidden-xs">
            <div class="navbar-text pull-left" style="margin-left: 0px">
                <a href="#/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget/new">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </div>
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    Youtube Widgets
                </a>
            </div>
            <div class="navbar-text pull-right" style="margin-right: 27px;">
                <a href="#/home">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="navbar-text pull-left" style="margin-left: 0px">
                <a href="#/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget/new">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </div>
            <div class="navbar-text pull-right" style="margin-right: 0px;">
                <a href="#/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget/new">
                    <span class="glyphicon glyphicon-ok"></span>
                </a>
            </div>
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    Widgets
                </a>
            </div>
        </div>
    </div>
</nav>

<div class="row container-fluid">
    <div class="col-sm-4 hidden-xs" style="margin-left:15px; margin-top: 50px; padding-top: 15px; margin-bottom: 50px; position: absolute;top: 0px;bottom: 0px;overflow: auto;">
        <ul class="list-group">


        </ul>
    </div>
    <div class="col-sm-8 pull-right" style="padding-left: 30px;padding-right: 0px;">

        <form>
            <div class="form-group">
                <label for="name">Width</label>
                <input type="text" class="form-control" id="name" placeholder="50%" ng-model="model.widget.width">
            </div>
            <div class="form-group">
                <label for="description">Url </label>
                <input type="text" class="form-control" id="description" placeholder="url!" ng-model="model.widget.url">
            </div>
            <a  ng-click="model.NewYoutubeWidget(model.widget.width,model.widget.url)" class="btn btn-primary btn-block">Submit</a>
            <a href="#/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}" class="btn btn-primary btn-block">Cancel</a>

        </form>

    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="row navbar-text" style="width: 100%; text-align: center;">
            <div class="col-xs-2">
                <a href="#">
                    <span class="glyphicon glyphicon-heart"></span>
                </a>
            </div>
            <div class="col-xs-2">
                <a href="#">
                    <span class="glyphicon glyphicon-star"></span>
                </a>
            </div>
            <div class="col-xs-2">
                <a href="#">
                    <span class="glyphicon glyphicon-thumbs-up"></span>
                </a>
            </div>
            <div class="col-xs-2">
                <a href="#">
                    <span class="glyphicon glyphicon-trash"></span>
                </a>
            </div>
            <div class="col-xs-2">
                <a href="#">
                    <span class="glyphicon glyphicon-share-alt"></span>
                </a>
            </div>
            <div class="col-xs-2">
                <a href="#" class="pull-right">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </div>
        </div>
    </div>
</nav>
